@tailwind base;
@tailwind components;
@tailwind utilities;
body,
#__next {
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(12, 10, 9);
}
html * {
  box-sizing: border-box;
}
p {
  color: white;
}
