@media (min-width: 1536px) {
  .email_button {
    margin-top: 45px;
    font-size: 20px;
  }
  .contact_rows {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
  }
}
.email_button {
  margin-top: 20px;
}
.contact_rows {
  margin-top: 20px;
  margin-bottom: 15px;
}
